In [1]:
import pandas as pd

In [3]:
colab = pd.read_excel("data/Dados Colaboradores.xlsx")

In [4]:
colab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nome          62 non-null     object
 1   CPF           62 non-null     object
 2   Departamento  62 non-null     object
 3   Salario       62 non-null     float64
dtypes: float64(1), object(3)
memory usage: 2.1+ KB

In [5]:
colab["Nome"].value_counts()

Nome
Adolfo Moreira      1
Adriana Nogueira    1
Afonso Barros       1
Alan Esteves        1
Alberto da Luz      1
                   ..
Eduardo Portela     1
Elaine Assis        1
Elias Henriques     1
Eliane Jurema       1
Elielson Quadros    1
Name: count, Length: 62, dtype: int64

In [6]:
unimed = pd.read_excel("data/Beneficios/Beneficio 1 - Unimed.xlsx")
unimed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Código         62 non-null     int64
 1   Beneficiário   62 non-null     object
 2   CPF            62 non-null     object
 3   Tipo           62 non-null     object
 4   Idade          62 non-null     int64
 5   Dependência    0 non-null      float64
 6   Data Limite    0 non-null      float64
 7   Data Inclusão  62 non-null     datetime64[ns]
 8   Data Exclusão  1 non-null      datetime64[ns]
 9   Rubrica        62 non-null     object
 10  Outros         62 non-null     int64
 11  Total          62 non-null     float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(4)
memory usage: 5.9+ KB